@import "../../vars.css";

.title{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
    color: var(--color-text);
}
.container{
    padding: 73px;
}
.date{
    color: var(--color-text);
}
.timelineContent{
    transition: box-shadow 0.4s ease-in-out, transform 0.4s ease;;
}
.timelineContent:hover{
    transform: scale(1.07);
}

@media (max-width: 600px) {
    .container {
      padding: auto;
    }
  }